@model ProjeCore.Models.Birim;
@{
    ViewData["Title"] = "BirimGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("BirimGuncelle", "Default", FormMethod.Post))
{   
    <b> Departman ID</b>
    @Html.TextBoxFor(x=>x.BirimId, new {@class="form-control"})
    <br/>
    @Html.LabelFor(x=>x.BirimAd) 
    @Html.TextBoxFor(x=>x.BirimAd, new {@class="form-control"})
    <br/>
    <button class="btn btn-info">Birim Güncelle</button>
}